<a class="btn btn-primary" href="{{ path('app_create_quotes') }}">Ajouter une citation</a>

{% if user.quotes is not empty %}
    <div class="row row-cols-3 row-cols-md-4 g-5">
        {% for quote in user.quotes %}
            <div class="col">
                <div class="card text-center h-100">
                    <div class="card-body">
                        <blockquote class="blockquote mb-0">
                            <p>{{ quote.content }}</p>
                            <footer class="blockquote-footer">{{ quote.author }}</footer>
                        </blockquote>
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-primary btn-sm" href="{{ path('app_edit_quotes', {'id': quote.id}) }}">Editer</a>
                        <a class="btn btn-danger btn-sm" href="{{ path('app_delete_quotes', {'id': quote.id}) }}">Supprimer</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}