<div class="w-50 mx-auto mb-4">
    <div class="d-flex border border-secondary-subtle rounded bg-body-secondary">
        <div class="d-flex align-items-center">
            <div class="border border-top-0 border-bottom-0 border-start-0 border-secondary-subtle">
                {% if user.photo is not empty %}
                    <p class="mb-0">
                        <img class="img-fluid rounded-start" src="{{ vich_uploader_asset(user, 'photoFile') | imagine_filter('my_thumb') }}" alt="{{ user.photo }}">
                    </p>
                {% else %}
                    <p class="mb-0 ps-1 pe-1">
                        <img src="{{ asset('images/user/user-default.png') }}" alt="{{ user.photoFile }}" class="img-responsive rounded-circle">
                    </p>
                {% endif %}
            </div>
        </div>
        <div class="w-100">
            <span class="d-block text-center fw-bold fs-5">{{ user.name | capitalize }} {{ user.firstname | capitalize }}</span>
            <ul class="pt-2 ps-5">
                <li>Email : {{ user.email }}</li>
                {% if user.phone is not empty %}
                    <li>Mobile : {{ user.phone|phone_number_format('NATIONAL') }}</li>
                {% else %}
                    <li>Mobile : {{ user.phone }}</li>
                {% endif %}
                <li>Date de naissance :
                    {% if user.dateOfBirth is not empty %}
                        {{ user.dateOfBirth | format_datetime(locale='fr',pattern="dd MMMM YYYY") }}
                    {% endif %}
                </li>
                <li>Adresse : {{ user.address }}</li>
            </ul>
        </div>
    </div>
    <div class="mt-2 text-center text-body-secondary">
        <a class="btn btn-primary" href="{{ path('app_edit_user', {'id': user.id}) }}">Editer le profil</a>
    </div>
</div>
