{{ form_errors(devToolsForm) }}

{{ form_start(devToolsForm) }}

{{ form_row(devToolsForm.name) }}
{{ form_row(devToolsForm.display) }}

<button class="btn btn-lg btn-primary" type="submit">{{ title }}</button>

{{ form_end(devToolsForm) }}