{{ form_errors(projectsForm) }}

{{ form_start(projectsForm) }}
{{ form_row(projectsForm.name) }}
{{ form_row(projectsForm.description) }}
{{ form_row(projectsForm.url) }}
{{ form_row(projectsForm.pictureFile) }}
{{ form_row(projectsForm.skills) }}
{{ form_row(projectsForm.devTools) }}
{{ form_row(projectsForm.training) }}
{{ form_row(projectsForm.display) }}

<button class="btn btn-lg btn-primary" type="submit">{{ title }}</button>

{{ form_end(projectsForm) }}