<h2 class="accordion-header">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
        Citations
    </button>
</h2>
<div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionPortfolio">
    <div class="accordion-body">
        {% if user.quotes is not empty %}
            <div class="row mb-4">
                {% for quote in user.quotes %}
                    <div class="col-sm-3 mb-3 mb-sm-3">
                        <div class="card text-center h-100 {{ quote.display ? '' : 'border border-danger bg-danger bg-opacity-50' }}">
                            <div class="card-body">
                                <blockquote class="blockquote mb-0">
                                    <p>{{ quote.content }}</p>
                                    <footer class="blockquote-footer">{{ quote.author }}</footer>
                                </blockquote>
                            </div>
                            <div class="card-footer">
                                <a class="btn btn-primary btn-sm" href="{{ path('app_edit_quotes', {'id': quote.id}) }}">Editer</a>
                                <a class="btn btn-danger btn-sm" href="{{ path('app_delete_quotes', {'id': quote.id}) }}">Supprimer</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <div class="mt-2 text-center">
                    <a class="btn btn-primary" href="{{ path('app_create_quotes') }}">Ajouter une citation</a>
                </div>
            </div>
        {% endif %}
    </div>
</div>
