<h2 class="accordion-header">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        Outils de développement
    </button>
</h2>

<div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionPortfolio">
    <div class="accordion-body">
        {% if user.devTools is not empty %}
            <div class="table-responsive mb-4">
                <table class="table table-hover table-bordered">
                    <thead class="table-dark">
                    <tr>
                        <th>Nom</th>
                        <th>Afficher</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for devTool in user.devTools %}
                        <tr {{ devTool.display ? '' : 'class="table-danger fw-bold"' }}>
                            <td>{{ devTool.name }}</td>
                            <td>{{ devTool.display ? 'OUI' : 'NON' }}</td>
                            <td>
                                <a class="btn btn-primary btn-sm" href="{{ path('app_edit_tools', {'id': devTool.id}) }}" data-turbo-frame="edit_tools_{{ devTool.id }}">Editer</a>
                                <a class="btn btn-danger btn-sm" href="{{ path('app_delete_tools', {'id': devTool.id}) }}">Supprimer</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else%}
            <p>Vous n'avez aucun outil de développement</p>
        {% endif %}
        <div class="mt-2 text-center">
            <a class="btn btn-primary" href="{{ path('app_create_tools') }}">Ajouter un outil de développement</a>
        </div>
    </div>
</div>