{{ form_errors(skillsForm) }}

{{ form_start(skillsForm) }}

{{ form_row(skillsForm.name) }}
{{ form_row(skillsForm.percentage) }}
{{ form_row(skillsForm.display) }}

<button class="btn btn-lg btn-primary" type="submit">{{ title }}</button>

{{ form_end(skillsForm) }}