{% extends 'base.html.twig' %}

{% block title %}Administration - Accueil{% endblock %}

{% block body %}
    <h1>Administration du portfolio de {{ user.firstname | capitalize }}</h1>

    <a class="btn btn-primary" href="{{ path('app_edit_user', {'id': user.id}) }}">Editer le profil</a>
    <ul>
        {% if user.photo is not empty %}
            <img src="{{ vich_uploader_asset(user, 'photoFile') | imagine_filter('my_thumb') }}" alt="{{ user.photoFile }}">
        {% endif %}

        <li>Nom : {{ user.name | capitalize }}</li>
        <li>Prénom : {{ user.firstname | capitalize }}</li>
        <li>Email : {{ user.email }}</li>
        {% if user.phone is not empty %}
            <li>Mobile : {{ user.phone|phone_number_format('NATIONAL') }}</li>
        {% else %}
            <li>Mobile : {{ user.phone }}</li>
        {% endif %}
        <li>Date de naissance :
            {% if user.dateOfBirth is not empty %}
                {{ user.dateOfBirth | format_datetime(locale='fr',pattern="dd MMMM YYYY") }}
            {% endif %}
        </li>

        <li>Adresse : {{ user.address }}</li>
    </ul>

    <a class="btn btn-primary" href="{{ path('app_create_skills') }}">Ajouter une compétence</a>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Pourcentage</th>
                <th>Afficher</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for skill in user.skills %}
                <tr>
                    <td>{{ skill.name }}</td>
                    <td>{{ skill.percentage }}</td>
                    <td>{{ skill.display ? 'OUI' : 'NON' }}</td>
                    <td>
                        <a class="btn btn-primary btn-sm" href="{{ path('app_edit_skills', {'id': skill.id}) }}">Editer</a>
                        <a class="btn btn-danger btn-sm" href="{{ path('app_delete_skills', {'id': skill.id}) }}">Supprimer</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
